/* @import 'logo.css'; */
@import url('logo.css');
@import url('aside.css');
@import url('main.css');

:root {
  --bg: #202028;
  --bgSoft: #252733;
  --clr-text: white;
  --clr-textSoft: #5e6066;
  --clr-secondary: #6d5dd3;
  --clr-notfi: #ff744f;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

a {
  text-decoration: none;
}

ul,
li {
  list-style: none;
}

body {
  color: var(--clr-text);
  background-color: var(--bg);
}

.app {
  display: grid;
  grid-template-columns: 280px 1fr;
}
