.navBar {
  display: flex;
  align-items: top;
  justify-content: space-between;
}

.nav_left h2 {
  font-weight: 500;
  font-size: 1.2rem;
  opacity: 0.8;
}

.search,
.nav_right {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.search label {
  margin-top: 5px;
  opacity: 0.6;
}

.search input {
  color: var(--clr-text);
  padding: 0.4rem;
  background: none;
  border: none;
}

.notfication {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 40px;
  height: 40px;
  margin-left: 1rem;
  color: var(--clr-text);
  background-color: var(--clr-secondary);
  border: none;
  border-radius: 50%;
  cursor: pointer;
}

.notfication:hover .material-symbols-rounded {
  animation: tremer 0.2s;
  animation-iteration-count: 4;
}

@keyframes tremer {
  0% {
    margin-left: 0;
  }
  25% {
    margin-left: 4px;
  }
  50% {
    margin-left: 0;
  }
  75% {
    margin-left: -4px;
  }
  100% {
    margin-left: 0;
  }
}

.notify_count {
  display: flex;
  align-items: center;
  justify-content: center;

  position: absolute;
  top: 0;
  right: -6px;
  width: 20px;
  height: 20px;
  font-size: 0.8rem;
  font-weight: 500;
  background-color: var(--clr-notfi);
  border-radius: 50%;
}
